//----------- 圖片取代文字 ------------//
@mixin hide-text{
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}
//----------- flex ------------//

@mixin flex($jc:space-between, $ai:center, $wrap:wrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $wrap;
}

//----------- hover ------------//

@mixin hover($minWidth: 768px,$color: $primary-color, $background: #fff, $bdcolor: $primary-color){
    @media all and (min-width: $minWidth) {
        color: $color;
        background: $background;
        border: 1px solid $bdcolor;
    }
}

//----------- hover (由左至右hover線)------------//

@mixin line-lr($width: 100%, $height: 2px, $background: #fff, $time: 0.5s, $top: auto, $bottom: auto, $left: auto, $right: auto){
    content: "";
    width: $width;
    height: $height;
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    background: $background; //退出的顏色
    transform: scale3d(0,1,1);
    transform-origin: 100% 50%;
    transition: $time transform ease;
}

@mixin hover-line-lr($background: #fff){
    transform: scale3d(1,1,1);
    background: $background; //進來的顏色
    transform-origin: 0 50%;
}
//----------- media queries ----------//

@mixin mediaquery($min, $max) {
    @if $min !=null and $max !=null {
        @media all and (min-width:$min) and (max-width: $max) {
            @content;
        }
    }

    @else if $max==null {
        @media all and (min-width:$min) {
            @content;
        }
    }

    @else if $min==null {
        @media all and (max-width: $max) {
            @content;
        }
    }
}

//----------- 圓 ----------//
@mixin circle($size, $bdcolor: $primary-color, $bgcolor) {
    width: $size;
    height: $size;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid $bdcolor;
    background-color: $bgcolor;
}

//----------- 圓角 ----------//
@mixin border($bo:99em) {
    -webkit-border-radius: $bo;
    -moz-border-radius: $bo;
    border-radius: $bo;
}

//----------- 不規則圓角 ----------//
@mixin border_way($bd_topleft, $bd_topright, $bottom_right, $bd_bottomleft) {
    -webkit-border-top-left-radius: $bd_topleft;
    -webkit-border-top-right-radius: $bd_topright;
    -webkit-border-bottom-right-radius: $bd_bottomright;
    -webkit-border-bottom-left-radius: $bd_bottomleft;

    -moz-border-radius-topleft: $bd_topleft;
    -moz-border-radius-topright: $bd_topright;
    -moz-border-radius-bottomright: $bd_bottomright;
    -moz-border-radius-bottomleft: $bd_bottomleft;

    border-top-left-radius: $bd_topleft;
    border-top-right-radius: $bd_topright;
    border-bottom-right-radius: $bd_bottomright;
    border-bottom-left-radius: $bd_bottomleft;
}

//----------- 字型設定 ----------//
// ( 字大小, 行高, 字距, 字重(預設) ,顏色(預設) )
@mixin fontset($px, $lheight, $lspac, $weight:400, $color:#000000) {
    font-size: pxToEm($px);
    line-height: $lheight;
    letter-spacing: $lspac + px;
    font-weight: $weight;
    color: $color;
}

//----------- px轉rem ----------//
@function pxToEm($px, $base: 16) {
    @return ($px / $base) * 1rem;
}

@function pxToRem($px, $base: 16) {
    @return ($px / $base) * 1rem;
}

//------ 用法 @include font-size(pxToRem(16),pxToRem(36)) -------//
@mixin font-size($mobile, $desk) {
    @include mediaquery(null, $sm) {
        font-size: $mobile;
    }
    @include mediaquery($sm, null) {
        font-size: $desk;
    }
}

//----------- 行數超過顯示... ----------//
//限定行數  行高 行數(行高x行數)x1rem
@mixin clamp($lh,$clamp){
    height: ($lh * $clamp) * 1em;
    line-height: $lh;
    display: -webkit-box;
    -webkit-line-clamp: $clamp; /* 第幾行要顯示點點點 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


//----------- px 轉換 vw  767以下 / 375以上 ----------//
@mixin changeVw($px) {
    font-size: changePx($px);
}
@function changePx($px) {
    @return ($px / 767) * 100vw;
}

@mixin changeVw2($px) {
    font-size: changePx2($px);
}
@function changePx2($px) {
    @return ($px / 1920) * 100vw;
}