$font: 'Roboto', 'Noto Sans TC', sans-serif;
$font-tw: 'Noto Sans TC', sans-serif;
$font-en: 'Roboto', sans-serif;
$maxwidth: 1920px;
$headerH-pc: 80px;
$headerH-mo: 70px;
//----------- color ------------//

$dark-color: #003369;
$primary-color: #004EA2;
$secondary-color: #DFF2FC;
$line-color: #BCBCBC;

$hover-color: #7e807c;
$gray-color: #f1f2ed;
$tag-color: #f1f2ed;


//----------- RWD break ------------//

$xxl:1440px;
$xl:1200px;
$lg:991px;
$md:769px;
$sm:576px;
$xs:480px;