@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit-Bold.ttf");
  font-weight: 700;
}