@import "base/mixin";
@import "base/variable";

.course_date{
    font-size: 16px;
    color: $primary-color;
    line-height: 1.13;
    margin-bottom: 7px;
    letter-spacing: 0;
    @include mediaquery(null, 767px){
        font-size: 14px;
        margin-bottom: 1px;
    }
}
.course_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.42;
    @include mediaquery(null, 767px){
        font-size: 19px;
    }
}
.course_location{
    display: flex;
    align-items: flex-start;
    img{
        display: inline-block;
        margin-right: 8px;
        padding-top: 2px;
        @include mediaquery(null, 767px){
            width: 13px;
            padding-top: 4px;
            margin-right: 6px;
        }
    }
    .location{
        font-size: 18px;
        line-height: 1.55;
        @include mediaquery(768px, 991px){
            font-size: 17px;
        }
        @include mediaquery(null, 767px){
            font-size: 16px;
        }
        span{
            display: block;
            color: #777;
        }
    }
}
.blueTitle{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 60px;
    color: $primary-color;
    text-align: center;
    @include mediaquery(null, 767px){
        font-size: 22px;
        margin-bottom: 23px;
    }
}

input, select{
    font-family: $font-tw;
    transition: border 0.75s;
    &:focus{
        border: 1px solid #004EA2;
    }
}
input[type="date"]{
    position: relative;
    &::-webkit-calendar-picker-indicator{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        background: url('../images/common/date.png') center right / 21px 21px no-repeat;
        width: calc(100% - 150px);
    }
    // &.remove::after{
    //     content: "YYYY / MM / DD";
    //     position: absolute;
    //     top: 50%;
    //     left: 15px;
    //     transform: translateY(-50%);
    //     width: calc(100% - 100px);
    //     height: 40px;
    //     background: #fff;
    //     line-height: 40px;
    //     color: #BCBCBC;
    //     pointer-events: none;
    //     font-family: $font-tw;
    // }
}

.required{
    display: none;
}
.hasRequired{
    input, select{
        border: 1px solid #F42F52 !important;
        &:focus{
            border: 1px solid #004EA2 !important;
        }
    }
    .required{
        display: block;
        padding-top: 4px;
        height: 16px;
        font-size: 14px;
        color: #F42F52;
        i{
            vertical-align: top;
        }
    }
}


#datepicker{
    font-family: $font;
    cursor: pointer;
    background: url('../images/common/date.png') center right 20px / 21px 21px no-repeat;
    @include mediaquery(null, 767px){
        background: url('../images/common/date.png') center right 10px / 18px 18px no-repeat;
    }
}
.ui-widget-header{
    background: #004EA2;
    color: #fff;
}
.ui-state-default, .ui-widget-content{
    .ui-state-default{
        text-align: center;
        border: none;
        background: transparent;
        color: #000;
    }
    .ui-state-active{
        position: relative;
        color: #004EA2;
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 49%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #004EA2;
        }
    }
}
.ui-datepicker{
    .ui-datepicker-next{
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        span{
            background: url('../images/common/memberList_menu.png') center / contain no-repeat;
        }
        &.ui-state-hover{
            background: none;
            border: none;
            transition: 0.75s;
        }
    }
    .ui-datepicker-prev{
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        span{
            background: url('../images/common/left.png') center / contain no-repeat;
        }
        &.ui-state-hover{
            background: none;
            border: none;
            transition: 0.75s;
        }
    }
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    background: transparent;
    color: #fff;
    border: none;
    appearance: none;
    width: 35%;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    option{
        background: #fff;
        color: $primary-color;
    }
    &::-webkit-scrollbar {
        width: 4px;
        @include mediaquery(null, 991px){
            width: 2px;
        }
    }
    &::-webkit-scrollbar-button {
        background: transparent;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track-piece {
        background: #DFF2FC;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $primary-color;
    }
}