@import "base/mixin";
@import "base/variable";
@import "common";

.blueTitle{
    margin-bottom: 40px;
}
.method{
    margin-bottom: 80px;
}
.refundBox{
    padding: 20px 12px 20px 50px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 4px solid $secondary-color;
    background-color: #fff;
    @include mediaquery(null, 767px){
        padding: 15px 10px 15px 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 2px solid $secondary-color;
    }
    .refundColor{
        height: 440px;
        overflow: hidden auto;
        padding-right: 35px;
        @include mediaquery(null, 767px){
            padding-right: 15px;
            height: 470px;
        }
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track-piece {
            background: #DFF2FC;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: $primary-color;
        }
    }
    .blueTxtPop{
        font-size: 24px;
        font-weight: 500;
        color: $primary-color;
        margin-bottom: 20px;
        @include mediaquery(null, 767px){
            font-size: 19px;
            margin-bottom: 25px;
        }
    }
}
.checkBoxRefund{
    position: relative;
    padding-left: 45px;
    @include mediaquery(null, 767px){
        padding-left: 38px;
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        &:checked + label{
            &::before{
                background-color: $primary-color;
            }
        }
    }
    label{
        cursor: pointer;
        position: relative;
        font-size: 20px;
        font-weight: 500;
        transition: opacity 0.75s;
        @include mediaquery(null, 767px){
            font-size: 19px;
        }
        &::before{
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #D9D9D9;
            transition: background-color 0.75s;
            @include mediaquery(768px, null){
                top: 50%;
                left: -45px;
                transform: translateY(-50%);
            }
            @include mediaquery(null, 767px){
                top: 0;
                left: -38px;
            }
        }
        &::after{
            content: "";
            position: absolute;
            width: 16px;
            height: 12px;
            background: url('../images/common/checked.png') center / contain no-repeat;
            @include mediaquery(768px, null){
                top: 50%;
                left: -38px;
                transform: translateY(-50%);
            }
            @include mediaquery(null, 767px){
                top: 9px;
                left: -31px;
            }
        }
        &.disable{
            pointer-events: none;
            opacity: 0.6;
        }
        span{
            color: $primary-color;
        }
    }
    p{
        font-size: 14px;
        margin-top: 5px;
        color: #F42F52;
    }
}

.application{
    .blueTitle{
        @include mediaquery(null, 767px){
            margin-bottom: 30px;
        }
    }
    .intro{
        font-size: 18px;
        text-align: center;
        margin-bottom: 40px;
        @include mediaquery(null, 767px){
            line-height: 1.5625;
            font-size: 16px;
            margin-bottom: 30px;
            text-align: left;
        }
    }
}
form{
    @include mediaquery(null, 767px){
        padding-bottom: 40px;
    }
    .form_wrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include mediaquery(null, 767px){
            flex-direction: column;
        }
        >div{
            width: 47.5%;
            margin-bottom: 34px;
            @include mediaquery(768px, 991px){
                width: 48.5%;
                margin-bottom: 27px;
            }
            @include mediaquery(null, 767px){
                width: 100%;
                margin-bottom: 20px;
            }
        }
        &:last-child{
            >div{
                @include mediaquery(768px, null){
                    margin-bottom: 0;
                }
            }
        }
    }
    .m_title{
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
        line-height: 1.445;
        margin-bottom: 2px;
        @include mediaquery(768px, 991px){
            font-size: 17px;
        }
        @include mediaquery(null, 767px){
            font-size: 16px;
            margin-bottom: 4px;
        }
        span{
            position: relative;
            &::after{
                content: "*";
                position: absolute;
                top: -2px;
                right: -8px;
                font-size: 16px;
                font-weight: 500;
                color: #F42F52;
            }
        }
    }
    .m_info{
        display: flex;
        &.txtBox{
            font-size: 18px;
            color: #F42F52;
            @include mediaquery(768px, 991px){
                font-size: 17px;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
        >div{
            position: relative;
            height: 49px;
            display: flex;
            align-items: center;
            margin-right: 35px;
            @include mediaquery(768px, 991px){
                margin-right: 10px;
            }
            @include mediaquery(null, 767px){
                height: 44px;
                margin-bottom: -8px;
            }
            &:nth-child(2){
                width: 100%;
                margin-right: 0;
            }
            input{
                position: absolute;
                top: 50%;
                left: 0;
                width: 10px;
                height: 10px;
                opacity: 0;
                &:checked + label::after{
                    opacity: 1;
                }
            }
            label{
                cursor: pointer;
                position: relative;
                font-size: 18px;
                font-weight: 500;
                padding-left: 35px;
                min-width: max-content;
                margin-right: 15px;
                @include mediaquery(768px, 991px){
                    font-size: 17px;
                }
                @include mediaquery(null, 767px){
                    font-size: 16px;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 2px solid $primary-color;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $primary-color;
                    opacity: 0;
                    transition: opacity 0.75s;
                }
            }
        }
        .detailAddr{
            @include mediaquery(null, 767px){
                margin-top: 19px;
            }
        }
    }
    input{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #A6A6A6;
        padding: 12px 15px 14px;
        font-size: 18px;
        color: #000;
        @include mediaquery(768px, 991px){
            padding: 12px 10px 14px;
            font-size: 17px;
        }
        @include mediaquery(null, 767px){
            padding: 0 10px;
            height: 44px;
            line-height: 45px;
            font-size: 16px;
        }
        &::placeholder{
            color: #BCBCBC;
            font-size: 18px;
            @include mediaquery(768px, 991px){
                font-size: 17px;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
    }
    select{
        appearance: none;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #A6A6A6;
        padding: 12px 15px 14px;
        font-size: 18px;
        color: #BCBCBC;
        background: url('../images/common/select.png') center right 18px / 18px 10px no-repeat;
        @include mediaquery(768px, 991px){
            font-size: 17px;
            padding: 0 30px 0 10px;
            line-height: 48px;
            background: url('../images/common/select.png') center right 10px / 14px 8px no-repeat;
        }
        @include mediaquery(null, 767px){
            font-size: 16px;
            height: 44px;
            line-height: 44px;
            padding: 0 10px;
            background: url('../images/common/select.png') center right 9px / 15px 9px no-repeat;
        }
        &::placeholder{
            color: #BCBCBC;
            font-size: 18px;
            @include mediaquery(768px, 991px){
                font-size: 17px;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
    }
}
.memberList{
    position: relative;
    display: block;
    padding: 50px 70px;
    background: #F6FCFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 71, 157, 0.25);
    margin-bottom: 25px;
    @include mediaquery(768px, 1400px){
        padding: 40px 50px;
    }
    @include mediaquery(null, 767px){
        padding: 21px 20px 0;
        margin-bottom: 20px;
    }
    input, select{
        background-color: #F6FCFF;
    }
    .topList{
        padding-bottom: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid #D9D9D9;
        @include mediaquery(768px, 991px){
            padding-bottom: 10px;
        }
        @include mediaquery(null, 767px){
            margin-bottom: 20px;
            padding: 0 10px;
            transition: 0.75s;
        }
        >li:not(.nameBox){
            display: flex;
            align-items: baseline;
            margin-bottom: 20px;
            .m_title{
                flex: 0 0 95px;
                font-size: 18px;
                font-weight: 500;
                color: $primary-color;
                @include mediaquery(null, 767px){
                    font-size: 16px;
                    flex: 0 0 87px;
                }
            }
            .l_info{
                flex: 1;
                width: 100%;
                font-size: 32px;
                font-weight: 500;
                text-align: justify;
                @include mediaquery(null, 767px){
                    font-size: 22px;
                }
            }
            .m_info{
                flex: 1;
                width: 100%;
                font-size: 18px;
                text-align: justify;
                @include mediaquery(null, 767px){
                    font-size: 16px;
                }
            }
        }
        .nameBox{
            position: relative;
            display: flex;
            align-items: center;
            @include mediaquery(null, 1440px){
                width: 100%;
                flex-wrap: wrap;
            }
            .name{
                font-size: 32px;
                font-weight: 500;
                margin-right: 40px;
                @include mediaquery(null, 1440px){
                    margin: 0 0 20px;
                }
                @include mediaquery(null, 767px){
                    font-size: 22px;
                    margin: 0 0 13px;
                }
            }
            .infoBox{
                display: flex;
                align-items: baseline;
                @include mediaquery(null, 1440px){
                    width: 100%;
                }
                @include mediaquery(null, 991px){
                    flex-direction: column;
                    padding-bottom: 10px;
                }
                li{
                    display: flex;
                    align-items: baseline;
                    font-size: 18px;
                    margin-right: 30px;
                    @include mediaquery(null, 991px){
                        margin: 0 0 20px;
                    }
                    @include mediaquery(null, 767px){
                        font-size: 16px;
                        margin-bottom: 7px;
                    }
                }
                .m_title{
                    margin-right: 1em;
                    color: $primary-color;
                }
            }
        }
    }
}

.allBtn{
    margin-top: 60px;
    @include mediaquery(null, 767px){
        margin-top: 40px;
    }
}



.upFile{
    .updatePdf{
        position: relative;
        display: flex;
        @include mediaquery(768px, 1200px){
            flex-wrap: wrap;
            justify-content: end;
        }
        @include mediaquery(null, 767px){
            flex-direction: column;
        }
        .file-browse-txt{
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #BCBCBC;
            border: 1px solid #A6A6A6;
            border-radius: 5px;
            padding: 0 65px 0 15px;
            line-height: 1;
            height: 54px;
            word-break: keep-all;
            @include mediaquery(768px, 1200px){
                margin-bottom: 10px;
                width: 100%;
            }
            @include mediaquery(null, 991px){
                padding: 0 10px;
            }
            @include mediaquery(null, 767px){
                flex: 0 0 44px;
                line-height: 44px;
                font-size: 16px;
                margin-bottom: 11px;
            }
            a{
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                max-width: 18px;
                @include mediaquery(768px, 991px){
                    right: 5px;
                }
                @include mediaquery(null, 767px){
                    max-width: 16px;
                }
            }
        }
        #file{
            appearance: none;
            cursor: pointer;
            color: transparent;
            flex: 0 0 125px;
            width: 125px;
            height: 54px;
            line-height: 54px;
            background-color: $primary-color;
            color: #fff;
            margin-left: 15px;
            @include mediaquery(null, 1200px){
                margin-left: 0;
            }
            @include mediaquery(null, 767px){
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                flex: 0 0 auto;
                width: 100%;
            }
            &:hover{
                @include mediaquery(768px, null) {
                    + .btnFile {
                        color: $primary-color;
                        background-color: #fff;
                    }
                }
            }
        }
        .btnFile{
            position: absolute;
            top: 0;
            right: 0;
            flex: 0 0 125px;
            width: 125px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            color: #fff;
            border: 1px solid $primary-color;
            background-color: $primary-color;
            border-radius: 5px;
            pointer-events: none;
            font-size: 18px;
            font-weight: 500;
            transition: background-color 0.75s, color 0.75s;
            @include mediaquery(null, 1200px){
                margin-left: 0;
            }
            @include mediaquery(null, 767px){
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                flex: 0 0 auto;
                width: 100%;
            }
        }
    }
}