@import "base/mixin";
@import "base/variable";
@import "common";

.orderItems{
    position: relative;
    margin-bottom: 100px;
    @include mediaquery(null, 767px){
        margin-bottom: 60px;
    }
    .titleHeader, .containTop{
        >li{
            &:nth-child(1){
                flex: 0 0 250px;
                margin-right: 40px;
                @include mediaquery(null, 767px){
                    flex: 0 0 128px;
                    margin-right: 12px;
                }
            }
            &:nth-child(2){
                flex: 1;
                ul{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    @include mediaquery(null, 991px){
                        flex-direction: column;
                        align-items: baseline;
                    }
                    li{
                        &:nth-child(1){
                            flex: 1;
                        }
                        &:nth-child(2){
                            flex: 0 0 26.374%;
                            padding-right: 20px;
                            @include mediaquery(992px, 1200px){
                                flex: 0 0 35%;
                            }
                            @include mediaquery(null, 991px){
                                display: flex;
                                align-items: baseline;
                                padding-right: 0;
                            }
                            @include mediaquery(null, 767px){
                                margin-bottom: 20px;
                            }
                        }
                        &:nth-child(3){
                            flex: 0 0 15.824%;
                            @include mediaquery(992px, 1200px){
                                flex: 0 0 10%;
                            }
                            @include mediaquery(null, 991px){
                                display: flex;
                                align-items: baseline;
                            }
                        }
                    }
                }
            }
        }
    }
    .titleHeader{
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.43;
        color: #777;
        padding-bottom: 8px;
        border-bottom: 1px solid #D9D9D9;
        @include mediaquery(null, 991px){
            display: none;
        }
    }
    .containTop{
        position: relative;
        display: flex;
        align-items: center;
        padding: 24px 0;
        border-bottom: 1px solid #D9D9D9;
        @include mediaquery(null, 991px){
            padding: 30px 0;
            align-items: start;
        }
        >li{
            .imgBox{
                width: 100%;
                img{
                    display: block;
                }
            }
            &:nth-child(2){
                flex: 1;
                ul{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    @include mediaquery(null, 991px){
                        flex-direction: column;
                        align-items: baseline;
                    }
                    li{
                        &:nth-child(2){
                            font-size: 18px;
                            @include mediaquery(null, 767px){
                                font-size: 16px;
                            }
                            .m_info{
                                .flex{
                                    display: flex;
                                    @include mediaquery(null, 767px){
                                        flex-wrap: wrap;
                                    }
                                }
                                .s_title{
                                    display: inline-block;
                                    flex: 0 0 57px;
                                    @include mediaquery(null, 767px){
                                        flex: 0 0 52px;
                                    }
                                }
                            }
                        }
                        &:nth-child(3){
                            .m_info{
                                font-size: 24px;
                                font-weight: 500;
                                color: $primary-color;
                                @include mediaquery(null, 767px){
                                    font-size: 19px;
                                }
                            }
                        }
                        .m_title.mo_991{
                            font-size: 14px;
                            color: #777;
                            flex: 0 0 78px;
                        }
                    }
                }
            }
        }
    }
}

form{
    margin-bottom: 46px;
    .form_wrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include mediaquery(null, 767px){
            flex-direction: column;
        }
        >div{
            width: 47.5%;
            margin-bottom: 34px;
            @include mediaquery(768px, 991px){
                width: 48.5%;
                margin-bottom: 27px;
            }
            @include mediaquery(null, 767px){
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .homePhone{
            .m_info{
                display: flex;
                align-items: center;
                @include mediaquery(null, 767px){
                    flex-wrap: wrap;
                }
                span{
                    margin: 0 8px;
                    &:nth-child(4){
                        @include mediaquery(null, 767px){
                            margin-top: 20px;
                        }
                    }
                }
                input{
                    &:nth-child(1){
                        flex: 0 0 85px;
                        @include mediaquery(768px, 991px){
                            flex: 0 0 65px;
                        }
                    }
                    &:nth-child(3){
                        flex: 1;
                        @include mediaquery(null, 767px){
                            flex: 0 0 calc(100% - 107px);
                        }
                    }
                    &:nth-child(5){
                        flex: 0 0 124px;
                        @include mediaquery(768px, 991px){
                            flex: 0 0 80px;
                        }
                        @include mediaquery(null, 767px){
                            margin-top: 20px;
                        }
                    }
                }
                i{
                    @include mediaquery(null, 767px){
                        display: block;
                    }
                }
            }
        }
        .country{
            .m_info{
                input:checked ~ select{
                    opacity: 1;
                    pointer-events: all;
                }
                select{
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.75s;
                }
            }
        }
        input:not(.fatherlandID) + input{
            margin-left: 15px;
        }
    }
    .form_wrap2{
        width: 100%;
        >div{
            margin-bottom: 34px;
        }
        .m_info{
            width: 100%;
            @include mediaquery(null, 767px){
                flex-direction: column;
            }
            >div{
                flex: 0 0 47.5%;
                margin-right: 15px;
                @include mediaquery(null, 767px){
                    margin-right: 0;
                }
                select + select{
                    margin-left: 15px;
                }
                &.twzipcode{
                    @include mediaquery(null, 767px){
                        flex-direction: column;
                    }
                    select + select{
                        @include mediaquery(null, 767px){
                            margin: 10px 0 0;
                        }
                    }
                }
            }
        }
    }
    .m_title{
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
        line-height: 1.445;
        margin-bottom: 2px;
        @include mediaquery(768px, 991px){
            font-size: 17px;
        }
        @include mediaquery(null, 767px){
            font-size: 16px;
            margin-bottom: 4px;
        }
        span{
            position: relative;
            &::after{
                content: "*";
                position: absolute;
                top: -2px;
                right: -8px;
                font-size: 16px;
                font-weight: 500;
                color: #F42F52;
            }
        }
    }
    .m_info{
        display: flex;
        &.txtBox{
            font-size: 18px;
            color: #F42F52;
            @include mediaquery(768px, 991px){
                font-size: 17px;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
        >div{
            position: relative;
            height: 49px;
            display: flex;
            align-items: center;
            margin-right: 35px;
            @include mediaquery(768px, 991px){
                margin-right: 10px;
            }
            @include mediaquery(null, 767px){
                height: 44px;
                margin-bottom: -8px;
            }
            &:nth-child(2){
                width: 100%;
                margin-right: 0;
            }
            input{
                position: absolute;
                top: 50%;
                left: 0;
                width: 10px;
                height: 10px;
                opacity: 0;
                &:checked + label::after{
                    opacity: 1;
                }
            }
            label{
                cursor: pointer;
                position: relative;
                font-size: 18px;
                font-weight: 500;
                padding-left: 35px;
                min-width: max-content;
                margin-right: 15px;
                @include mediaquery(768px, 991px){
                    font-size: 17px;
                }
                @include mediaquery(null, 767px){
                    font-size: 16px;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 2px solid $primary-color;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $primary-color;
                    opacity: 0;
                    transition: opacity 0.75s;
                }
            }
        }
        .detailAddr{
            @include mediaquery(null, 767px){
                margin-top: 19px;
            }
        }
    }
    input{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #A6A6A6;
        padding: 12px 15px 14px;
        font-size: 18px;
        color: #000;
        @include mediaquery(768px, 991px){
            padding: 12px 10px 14px;
            font-size: 17px;
        }
        @include mediaquery(null, 767px){
            padding: 0 10px;
            height: 44px;
            line-height: 45px;
            font-size: 16px;
        }
        &::placeholder{
            color: #BCBCBC;
            font-size: 18px;
            @include mediaquery(768px, 991px){
                font-size: 17px;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
    }
    select{
        appearance: none;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #A6A6A6;
        padding: 12px 15px 14px;
        font-size: 18px;
        color: #BCBCBC;
        background: url('../images/common/select.png') center right 18px / 18px 10px no-repeat;
        @include mediaquery(768px, 991px){
            font-size: 17px;
            padding: 0 30px 0 10px;
            line-height: 48px;
            background: url('../images/common/select.png') center right 10px / 14px 8px no-repeat;
        }
        @include mediaquery(null, 767px){
            font-size: 16px;
            height: 44px;
            line-height: 44px;
            padding: 0 10px;
            background: url('../images/common/select.png') center right 9px / 15px 9px no-repeat;
        }
        &::placeholder{
            color: #BCBCBC;
            font-size: 18px;
            @include mediaquery(768px, 991px){
                font-size: 17px;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
    }
    .txtBox_mo{
        font-size: 16px;
        color: #F42F52;
        margin-bottom: 20px;
    }
    .checkBox{
        position: relative;
        text-align: center;
        margin-top: 62px;
        @include mediaquery(null, 767px){
            margin-top: 40px;
        }
        input{
            position: absolute;
            top: 0;
            left: 50%;
            width: 20px;
            height: 20px;
            opacity: 0;
            &:checked + label::before{
                background-color: $primary-color;
            }
        }
        label{
            cursor: pointer;
            position: relative;
            padding-left: 55px;
            font-size: 24px;
            font-weight: 500;
            @include mediaquery(768px, 991px){
                font-size: 21px;
            }
            @include mediaquery(null, 767px){
                font-size: 19px;
                padding-left: 42px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #D9D9D9;
                @include mediaquery(null, 767px){
                    width: 32px;
                    height: 32px;
                }
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 9px;
                transform: translateY(-50%);
                width: 21px;
                height: 16px;
                background: url('../images/common/checked.png') center / contain no-repeat;
                @include mediaquery(null, 767px){
                    width: 18px;
                    height: 13px;
                    left: 7px;
                }
            }
            a{
                color: $primary-color;
                border-bottom: 1px solid $primary-color;
            }
        }
    }
    .checkBoxForm{
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px;
        background-color: #F6FCFF;
        font-size: 20px;
        font-weight: 500;
        @include mediaquery(null, 767px){
            font-size: 17px;
            padding: 15px;
            margin-top: 40px;
        }
        p{
            margin-left: 15px;
            @include mediaquery(null, 767px){
                margin-left: 10px;
            }
        }
        .blue{
            color: $primary-color;
        }
    }
    .checkMember{
        position: relative;
        margin-bottom: 30px;
        input{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            &:checked + label{
                &::before{
                    background-color: $primary-color;
                }
                &::after{
                    opacity: 1;
                }
            }
        }
        label{
            position: relative;
            font-size: 18px;
            padding-left: 30px;
            @include mediaquery(null, 767px){
                font-size: 16px;
                padding-left: 26px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                border: 1px solid $primary-color;
                border-radius: 3px;
                background-color: #fff;
                transition: background-color 0.75s;
                @include mediaquery(null, 767px){
                    width: 19px;
                    height: 19px;
                }
            }
            &::after{
                content: "";
                position: absolute;
                top: 48%;
                left: 4px;
                transform: translateY(-50%);
                width: 12px;
                height: 10px;
                background: url('../images/common/checked.png') center / contain no-repeat;
                opacity: 0;
                transition: opacity 0.75;
                @include mediaquery(null, 767px){
                    left: 3px;
                }
            }
        }
    }
}

.payWay{
    display: flex;
    margin-bottom: 80px;
    @include mediaquery(null, 767px){
        flex-direction: column;
        margin-bottom: 40px;
    }
    li{
        position: relative;
        width: calc((100% - 48px) / 3);
        margin-right: 24px;
        @include mediaquery(768px, 991px){
            width: calc((100% - 32px) / 3);
            margin-right: 16px;
        }
        @include mediaquery(null, 767px){
            width: 100%;
            margin: 0 0 14px;
        }
        &:last-child{
            margin: 0;
        }
        img{
            @include mediaquery(null, 991px){
                width: 40px;
            }
        }
        span{
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            margin-left: 20px;
            @include mediaquery(768px, 991px){
                margin-left: 12px;
                font-size: 18px;
            }
            @include mediaquery(null, 767px){
                font-size: 17px;
                margin-left: 20px;
            }
        }
        input{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            &:checked + label{
                &::after, &::before{
                    opacity: 1;
                }
            }
        }
        label{
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 28px 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 71, 157, 0.25);
            @include mediaquery(768px, 991px){
                padding: 25px;
            }
            @include mediaquery(null, 767px){
                border-radius: 5px;
                padding: 22px 25px;
                max-height: 74px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                right: 25px;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $primary-color;
                opacity: 0;
                transition: opacity 0.75s;
                @include mediaquery(768px, 991px){
                    right: 10px;
                    width: 30px;
                    height: 30px;
                }
                @include mediaquery(null, 767px){
                    right: 20px;
                    width: 33px;
                    height: 33px;
                }
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                right: 35px;
                transform: translateY(-50%);
                width: 21px;
                height: 16px;
                background: url('../images/common/checked.png') center / contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
                @include mediaquery(768px, 991px){
                    right: 17px;
                    width: 16px;
                    height: 13px;
                }
                @include mediaquery(null, 767px){
                    right: 28px;
                    width: 18px;
                    height: 14px;
                }
            }
        }
    }
}

.blueBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6FCFF;
    padding: 11px;
    margin-bottom: 40px;
    @include mediaquery(null, 767px){
        padding: 15px;
        margin-bottom: 28px;
    }
    .noReady{
        display: flex !important;
        align-items: center;
    }
    .hasReady{
        display: none !important;
        align-items: center;
    }
    &.hasCheckedBox{
        .noReady{
            display: none !important;
        }
        .hasReady{
            display: flex !important;
        }
    }
    img{
        max-width: 40px;
    }
    span{
        display: inline-block;
        margin: 0 15px;
        font-size: 24px;
        font-weight: 500;
        @include mediaquery(null, 767px){
            font-size: 19px;
            margin: 0 10px;
        }
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 127px;
        height: 47px;
        line-height: 47px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        background-color: $primary-color;
        transition: opacity 0.75s;
        @include mediaquery(null, 767px){
            font-size: 17px;
            width: 105px;
            height: 40px;
            line-height: 40px;
        }
        &:hover{
            @include mediaquery(768px, null){
                opacity: 0.7;
            }
        }
    }
    &.goSignUp{
        @include mediaquery(null, 767px){
            padding: 15px 10px;
            margin-bottom: 30px;
        }
        >div{
            display: flex;
            align-items: center;
            @include mediaquery(null, 767px){
                flex-direction: column;
                align-items: baseline;
            }
        }
        span{
            font-size: 20px;
            @include mediaquery(null, 767px){
                font-size: 19px;
            }
            .blue{
                color: $primary-color;
            }
        }
        .btn{
            width: 161px;
            @include mediaquery(null, 767px){
                width: 140px;
                margin-top: 10px;
            }
        }
    }
}
.blueBox.goSignUp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6FCFF;
    padding: 11px;
    margin-bottom: 40px;
    @include mediaquery(null, 767px){
        padding: 15px;
        margin-bottom: 28px;
    }
    span{
        font-size: 18px;
        color: $primary-color;
        @include mediaquery(null, 767px){
            font-size: 16px;
        } 
    }
}
.checkBox{
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    @include mediaquery(null, 767px){
        margin-bottom: 32px;
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + label i{
            &::before{
                background-color: $primary-color;
            }
        }
    }
    label{
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        @include mediaquery(null, 767px){
            font-size: 19px;
        }
        i{
            position: relative;
            display: block;
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            margin-right: 15px;
            @include mediaquery(null, 767px){
                flex: 0 0 32px;
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #D9D9D9;
                transition: background-color 0.75s;
                @include mediaquery(null, 767px){
                    width: 32px;
                    height: 32px;
                }
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 9px;
                transform: translateY(-50%);
                width: 21px;
                height: 16px;
                background: url('../images/common/checked.png') center / contain no-repeat;
                @include mediaquery(null, 767px){
                    left: 7px;
                    width: 18px;
                    height: 14px;
                }
            }
        }
        span{
            text-align: left;
        }
    }
}
.checkMember{
    position: relative;
    margin-bottom: 30px;
    input{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + label{
            &::before{
                background-color: $primary-color;
            }
            &::after{
                opacity: 1;
            }
        }
    }
    label{
        position: relative;
        font-size: 18px;
        padding-left: 30px;
        @include mediaquery(null, 767px){
            font-size: 16px;
            padding-left: 26px;
        }
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border: 1px solid $primary-color;
            border-radius: 3px;
            background-color: #fff;
            transition: background-color 0.75s;
            @include mediaquery(null, 767px){
                width: 19px;
                height: 19px;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 48%;
            left: 4px;
            transform: translateY(-50%);
            width: 12px;
            height: 10px;
            background: url('../images/common/checked.png') center / contain no-repeat;
            opacity: 0;
            transition: opacity 0.75;
            @include mediaquery(null, 767px){
                left: 3px;
            }
        }
    }
}
.btnBox{
    text-align: center;
    margin-bottom: 40px;
    @include mediaquery(null, 767px){
        margin-bottom: 30px;
    }
    &.disable{
        pointer-events: none;
        a{
            background-color: #BCBCBC;
        }
    }
    a{
        display: inline-flex;
        justify-content: space-between;
        width: 220px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        padding: 0 20px;
        background-color: $primary-color;
        color: #fff;
        transition: opacity 0.75s;
        @include mediaquery(null, 767px){
            font-size: 16px;
            padding: 0 15px;
            width: 210px;
        }
        &:hover{
            @include mediaquery(768px, null){
                opacity: 0.7;
            }
        }
        .payTxt{
            position: relative;
            padding-right: 20px;
            @include mediaquery(null, 767px){
                padding-right: 15px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 24px;
                background-color: #fff;
                @include mediaquery(null, 767px){
                    height: 22px;
                }
            }
        }
    }
    .redTxt{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-top: 20px;
        @include mediaquery(null, 767px){
            text-align: left;
        }
        span{
            display: inline-block;
            margin-left: 8px;
            @include mediaquery(null, 767px){
                line-height: 1.35;
            }
        }
    }
}
.mb10{
    @include mediaquery(null, 991px){
        margin-bottom: 10px;
    }
}
.redTxt{
    font-size: 18px;
    font-weight: 500;
    color: #F42F52;
    text-align: center;
    @include mediaquery(null, 767px){
        font-size: 16px;
    }
}


#popup{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    .popup_contain{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        max-width: 88%;
        height: 80vh;
        border-radius: 10px;
        background-color: #fff;
        padding: 60px 0;
        @include mediaquery(null, 767px){
            border-radius: 7px;
            padding: 50px 10px 50px 20px;
            max-width: calc(100% - 40px);
        }
    }
    .whiteBox{
        overflow: hidden auto;
        max-width: calc(100% - 80px);
        height: calc(80vh - 60px - 60px);
        margin: 0 auto;
        @include mediaquery(null, 767px){
            max-width: 100%;
            height: calc(80vh - 50px - 50px);
        }
        &::-webkit-scrollbar {
            width: 7px;
            @include mediaquery(null, 991px){
                width: 4px;
            }
        }
        &::-webkit-scrollbar-button {
            background: transparent;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-track-piece {
            background: #DFF2FC;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: $primary-color;
        }
    }
    .popbox{
        padding: 0 50px;
        @include mediaquery(null, 991px){
            padding: 0 15px 0 0;
        }
        ul>li{
            margin-bottom: 50px;
            @include mediaquery(null, 991px){
                margin-bottom: 30px;
            }
        }
        .boxPrea{
            padding: 20px 12px 20px 50px;
            border-radius: 10px;
            border: 4px solid #DFF2FC;
            overflow: hidden;
            margin-bottom: 20px;
            line-height: 1.44;
            @include mediaquery(null, 991px){
                border-radius: 5px;
                margin-bottom: 15px;
                padding: 25px 10px;
                border: 2px solid #DFF2FC;
                line-height: 1.5625;
            }
        }
        .popupBox{
            max-height: 404px;
            overflow: hidden auto;
            @include mediaquery(null, 991px){
                max-height: 200px;
            }
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-track-piece {
                background: #DFF2FC;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: $primary-color;
            }
            .boxColor{
                padding-right: 35px;
                @include mediaquery(null, 991px){
                    padding: 0 15px 0 10px;
                }
            }
        }
        .allBtn a{
            margin: 10px 0 0;
            width: 265px;
            @include mediaquery(null, 767px){
                margin-top: 20px;
                width: 274px;
            }
            &.disable{
                pointer-events: none;
                background-color: #BCBCBC;
                border: 1px solid #BCBCBC;
            }
        }
    }
    .b_title{
        font-size: 32px;
        font-weight: 500;
        line-height: 1.44;
        margin-bottom: 26px;
        text-align: center;
        @include mediaquery(768px, 1024px){
            font-size: 27px;
        }
        @include mediaquery(null, 767px){
            font-size: 22px;
        }
    }
    .blueTxtPop{
        font-size: 24px;
        color: $primary-color;
        margin-bottom: 20px;
        font-weight: 500;
        @include mediaquery(768px, 991px){
            font-size: 22px;
        }
        @include mediaquery(null, 767px){
            font-size: 19px;
        }
    }
    .redTxtPop{
        position: relative;
        font-size: 16px;
        color: #F42F52;
        margin-bottom: 1em;
        @include mediaquery(null, 767px){
            line-height: 1.357;
        }
    }
    .closeIcon:not(.btn){
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 30px;
        transition: opacity 0.75s;
        @include mediaquery(768px, 991px){
            top: 20px;
            right: 20px;
        }
        @include mediaquery(null, 767px){
            top: 18px;
            right: 18px;
        }
        &:hover{
            @include mediaquery(768px, null){
                opacity: 0.6;
            }
        }
        img{
            @include mediaquery(null, 767px){
                width: 17px;
            }
        }
    }
    .checkBoxPop{
        position: relative;
        padding-left: 45px;
        @include mediaquery(null, 767px){
            padding-left: 38px;
        }
        input{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            &:checked + label{
                &::before{
                    background-color: $primary-color;
                }
            }
        }
        label{
            cursor: pointer;
            position: relative;
            font-size: 20px;
            font-weight: 500;
            transition: opacity 0.75s;
            @include mediaquery(null, 767px){
                font-size: 19px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: -45px;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #D9D9D9;
                transition: background-color 0.75s;
                @include mediaquery(null, 767px){
                    left: -38px;
                }
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: -38px;
                transform: translateY(-50%);
                width: 16px;
                height: 12px;
                background: url('../images/common/checked.png') center / contain no-repeat;
                @include mediaquery(null, 767px){
                    left: -31px;
                }
            }
            &.disable{
                pointer-events: none;
                opacity: 0.6;
            }
        }
        p{
            font-size: 14px;
            margin-top: 5px;
            color: #F42F52;
        }
    }
}


.success{
    .info{
        font-size: 18px;
        line-height: 2;
        text-align: center;
        margin-bottom: 40px;
        @include mediaquery(null, 767px){
            font-size: 16px;
            line-height: 1.75;
        }
    }
}
