@import "base/mixin";
@import "base/variable";
@import "common";

.tabBtn{
    max-width: 468px;
    margin: 0 auto 80px;
    @include mediaquery(768px, 991px){
        max-width: 468px;
    }
    @include mediaquery(null, 767px){
        margin: 0 auto 10px;
        max-width: 100%;
    }
    ul{
        display: flex;
        align-items: center;
    }
    li{
        width: calc((100% - 20px) / 2);
        margin-right: 20px;
        font-size: 24px;
        font-weight: 500;
        @include mediaquery(768px, 991px){
            width: calc((100% - 10px) / 2);
            margin-right: 10px;
            font-size: 20px;
        }
        &:last-child{
            margin-right: 0;
        }
        &.active a{
            color: #fff;
            background-color: $primary-color;
        }
        &:hover a{
            @include mediaquery(768px, null){
                color: #fff;
                background-color: $primary-color;
            }
        }
        a{
            display: block;
            border-radius: 7px;
            width: 100%;
            height: 71px;
            line-height: 71px;
            background-color: $secondary-color;
            color: $primary-color;
            text-align: center;
            transition: 0.75s;
            @include mediaquery(768px, 991px){
                height: 62px;
                line-height: 62px;
            }
        }
    }
    select{
        font-family: $font;
        appearance: none;
        width: 100%;
        height: 52px;
        line-height: 52px;
        font-size: 17px;
        font-weight: 500;
        color: $primary-color;
        border: 1px solid #A6A6A6;
        border-radius: 5px;
        background: #F6FCFF url('../images/common/select.png') center right 18px / 18px 10px no-repeat;
        padding: 0 30px 0 18px;
        @include mediaquery(null, 767px){
            padding: 0 35px 0 15px;
            letter-spacing: 0.075em;
            background: #F6FCFF url('../images/common/select.png') center right 16px / 18px 10px no-repeat;
        }
    }
}
.courseList{
    .headerTitle{
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.43;
        color: #777;
        padding-bottom: 8px;
        border-bottom: 1px solid #D9D9D9;
        @include mediaquery(null, 991px){
            display: none;
        }
        li{
            &:nth-child(1){
                flex: 1;
            }
            &:nth-child(2){
                flex: 0 0 190px;
                @include mediaquery(992px, 1200px){
                    flex: 0 0 160px;
                }
            }
            &:nth-child(3){
                flex: 0 0 230px;
                @include mediaquery(992px, 1200px){
                    flex: 0 0 200px;
                }
            }
        }
    }
    .items{
        @include mediaquery(null, 767px){
            margin-top: 18px;
        }
        li{
            position: relative;
            display: flex;
            width: 100%;
            padding: 25px 0;
            border-bottom: 1px solid #D9D9D9;
            @include mediaquery(768px, 991px){
                min-height: 280px;
            }
            @include mediaquery(null, 767px){
                padding: 20px 0;
                min-height: 200px;
            }
            .wrap_0.img{
                flex: 0 0 250px;
                margin-right: 40px;
                @include mediaquery(992px, 1200px){
                    margin-right: 20px;
                }
                @include mediaquery(null, 767px){
                    flex: 0 0 155px;
                    margin-right: 10px;
                }
                img{
                    display: block;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    aspect-ratio: 1 / 0.648;
                }
            }
            .box{
                @include mediaquery(992px, null){
                    display: flex;
                    width: 100%;
                }
            }
            .wrap_1{
                flex: 1;
                display: flex;
                .txtBox{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px 30px 18px 0;
                    @include mediaquery(null, 991px){
                        padding: 0;
                        margin-bottom: 13px;
                    }
                    .topTxtBox{
                        flex: 1;
                    }
                }
            }
            .wrap_2{
                flex: 0 0 190px;
                font-size: 18px;
                @include mediaquery(992px, null){
                    display: flex;
                    align-items: center;
                }
                @include mediaquery(992px, 1200px){
                    flex: 0 0 160px;
                }
                @include mediaquery(null, 991px){
                    margin-bottom: 5px;
                }
                @include mediaquery(null, 767px){
                    font-size: 16px;
                }
                &.writeTxt{
                    color: #F42F52;
                }
                &.finishTxt{
                    color: $primary-color;
                    span:not(.mo_991){
                        display: none;
                    }
                }
                span:not(.mo_991){
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px;
                    font-weight: 700;
                    font-size: 15px; 
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: #F42F52;
                    color: #fff;
                    @include mediaquery(null, 767px){
                        width: 20px;
                        height: 20px;
                        font-size: 14px;
                        margin-left: 5px;
                    }

                }
                .mo_991{
                    font-size: 14px;
                    color: #777;
                }
            }
            .wrap_3{
                flex: 0 0 230px;
                @include mediaquery(992px, null){
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                @include mediaquery(992px, 1200px){
                    flex: 0 0 200px;
                }
                .name{
                    font-size: 24px;
                    font-weight: 500;
                    @include mediaquery(null, 767px){
                        font-size: 19px;
                    }
                }
                .btn{
                    display: inline-block;
                    width: 65px;
                    height: 48px;
                    line-height: 48px;
                    border-radius: 5px;
                    background-color: $primary-color;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: center;
                    transition: opacity 0.75s;
                    @include mediaquery(768px, 991px){
                        position: absolute;
                        top: 207px;
                        left: 125px;
                        transform: translateX(-50%);
                    }
                    @include mediaquery(null, 767px){
                        position: absolute;
                        top: 142px;
                        left: 80px;
                        transform: translateX(-50%);
                        width: 58px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 4px;
                        font-size: 16px;
                    }
                    &:hover{
                        @include mediaquery(768px, null){
                            opacity: 0.7;
                        }
                    }
                }
                .mo_991{
                    font-size: 14px;
                    margin-bottom: -2px;
                    color: #777;
                }
            }
        }
    }
    .page{
        margin: 90px auto 0;
        @include mediaquery(null, 991px){
            margin: 38px auto 0;
        }
    }
}
.orderList{
    .headerTitle{
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.43;
        color: #777;
        padding-bottom: 8px;
        border-bottom: 1px solid #D9D9D9;
        @include mediaquery(null, 991px){
            display: none;
        }
        li{
            display: flex;
            align-items: center;
            padding-right: 20px;
            &:nth-child(1){
                flex: 1 1 16.8%;
            }
            &:nth-child(2){
                flex: 1 1 19.5%;
            }
            &:nth-child(3){
                flex: 1 1 16.7%;
            }
            &:nth-child(4){
                flex: 1 1 14.7%;
            }
            &:nth-child(5){
                flex: 1 1 12.8%;
            }
            &:nth-child(6){
                flex: 1 1 13.5%;
            }
            &:nth-child(7){
                flex: 0 0 65px;
                padding-right: 0;
            }
        }
    }
    .items{
        li{
            position: relative;
            border-bottom: 1px solid #D9D9D9;
            @include mediaquery(992px, null){
                font-size: 18px;
                display: flex;
                align-items: center;
                padding: 20px 0;
            }
            @include mediaquery(null, 991px){
                padding: 27px 0 7px;
                min-height: 200px;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
            >div{
                padding-right: 20px;
                @include mediaquery(null, 991px){
                    display: flex;
                    align-items: flex-start;
                    padding-right: 100px;
                    margin-bottom: 16px;
                }
                @include mediaquery(null, 767px){
                    padding-right: 70px;
                }
                &:nth-child(1){
                    flex: 1 1 16.8%;
                }
                &:nth-child(2){
                    flex: 1 1 19.5%;
                }
                &:nth-child(3){
                    flex: 1 1 16.7%;
                }
                &:nth-child(4){
                    flex: 1 1 14.7%;
                }
                &:nth-child(5){
                    flex: 1 1 12.8%;
                }
                &:nth-child(6){
                    flex: 1 1 13.5%;
                }
                &:nth-child(7){
                    flex: 0 0 65px;
                    padding-right: 0;
                    @include mediaquery(null, 991px){
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        .m_title{
            display: none;
            @include mediaquery(null, 991px){
                display: block;
                font-size: 16px;
                line-height: 20px;
                color: #777;
                flex: 0 0 90px;
            }
            @include mediaquery(null, 767px){
                font-size: 14px;
                flex: 0 0 78px;
            }
        }
        .m_info{
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            word-break: break-all;
            @include mediaquery(null, 991px){
                line-height: 20px;
                flex-direction: row;
                align-items: center;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
            &.blueTxt{
                color: $primary-color;
                font-weight: 500;
            }
            a{
                font-size: 14px;
                color: #F42F52;
                margin-top: 3px;
                @include mediaquery(null, 991px){
                    margin: 0 0 0 20px;
                }
                span{
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #F42F52;
                    }
                }
                img{
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
        .btn a{
            display: inline-block;
            width: 65px;
            height: 48px;
            line-height: 48px;
            border-radius: 5px;
            background-color: $primary-color;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            transition: opacity 0.75s;
            @include mediaquery(null, 991px){
                width: 58px;
                height: 40px;
                line-height: 40px;
                border-radius: 4px;
                font-size: 16px;
            }
            &:hover{
                @include mediaquery(768px, null){
                    opacity: 0.7;
                }
            }
        }
    }
    .page{
        margin: 90px auto 0;
        @include mediaquery(null, 991px){
            margin: 38px auto 0;
        }
    }
}
.courseDetail, .orderDetail{
    .memberList{
        position: relative;
        display: block;
        padding: 50px 70px;
        background: #F6FCFF;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 71, 157, 0.25);
        margin-bottom: 40px;
        @include mediaquery(768px, 1400px){
            padding: 40px 50px;
        }
        @include mediaquery(null, 767px){
            padding: 21px 20px;
            margin-bottom: 38px;
            border-radius: 7px;
        };
        .topList{
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            padding-bottom: 30px;
            margin-bottom: 20px;
            border-bottom: 1px solid #D9D9D9;
            @include mediaquery(768px, 991px){
                padding-bottom: 10px;
            }
            @include mediaquery(null, 767px){
                margin-bottom: 16px;
                padding: 0 10px;
            }
            >div{
                display: flex;
                align-items: baseline;
            }
            .nameBox{
                @include mediaquery(null, 1440px){
                    width: 100%;
                    flex-wrap: wrap;
                }
            }
            .name{
                font-size: 32px;
                font-weight: 500;
                margin-right: 40px;
                @include mediaquery(null, 1440px){
                    margin: 0 0 20px;
                }
                @include mediaquery(null, 767px){
                    font-size: 22px;
                    margin: 0 0 13px;
                }
            }
            .infoBox{
                display: flex;
                align-items: baseline;
                @include mediaquery(null, 1440px){
                    width: 100%;
                }
                @include mediaquery(null, 991px){
                    flex-direction: column;
                    padding-bottom: 10px;
                }
                li{
                    display: flex;
                    align-items: baseline;
                    font-size: 18px;
                    margin-right: 30px;
                    @include mediaquery(null, 991px){
                        margin: 0 0 20px;
                    }
                    @include mediaquery(null, 767px){
                        font-size: 16px;
                        margin-bottom: 7px;
                    }
                }
                .m_title{
                    margin-right: 1em;
                    color: $primary-color;
                }
            }
        }
        .bottomList{
            display: flex;
            justify-content: space-between;
            @include mediaquery(null, 991px){
                flex-direction: column;
            }
        }
        .memberInfo{
            @include mediaquery(null, 767px){
                margin-bottom: 19px;
            }
            li{
                display: flex;
                align-items: baseline;
                font-size: 18px;
                margin-bottom: 18px;
                @include mediaquery(null, 767px){
                    font-size: 16px;
                    flex-direction: column;
                    margin-bottom: 8px;
                }
                &.shipMember{
                    .m_title{
                        @include mediaquery(null, 767px){
                            display: flex;
                            width: 100%;
                        }
                    }
                    .emergencyContact{
                        @include mediaquery(null, 767px){
                            flex: 0 0 137px;
                        }
                    }
                }
                .m_title{
                    color: #777;
                    width: 133px;
                    flex: 0 0 133px;
                    @include mediaquery(null, 767px){
                        flex: 0 0 auto;
                        margin-bottom: 3px;
                    }
                    &.mb0{
                        @include mediaquery(null, 767px){
                            margin-bottom: -2px;
                        }
                    }
                }
                .m_info{
                    display: flex;
                    span{
                        display: inline-block;
                        margin-right: 80px;
                        @include mediaquery(null, 767px){
                            margin-right: 0px;
                        }
                    }
                    .ms_title{
                        color: #777;
                        width: 57px;
                        flex: 0 0 57px;
                        @include mediaquery(null, 767px){
                            flex: 0 0 auto;
                        }
                    }
                    span, .ms_info{
                        white-space: nowrap;
                    }
                }
            }
        }
        .btnBox{
            @include mediaquery(992px, null){
                margin-left: 50px;
            }
            li{
                display: flex;
                align-items: center;
                font-size: 18px;
                margin-bottom: 12px;
                @include mediaquery(null, 767px){
                    font-size: 16px;
                    flex-direction: column;
                    align-items: baseline;
                    margin-bottom: 20px;
                }
                .b_title{
                    width: 171px;
                    flex: 0 0 171px;
                    @include mediaquery(null, 767px){
                        flex: 0 0 auto;
                        margin-bottom: 5px;
                    }
                    span{
                        position: relative;
                        color: $primary-color;
                        &::after{
                            content: "*";
                            position: absolute;
                            top: -3px;
                            right: -6px;
                            font-size: 14px;
                            color: #F42F52;
                        }
                    }
                }
                .b_info {
                    @include mediaquery(null, 767px){
                        width: 100%;
                    }
                    a{
                        display: block;
                        width: 143px;
                        height: 48px;  
                        line-height: 48px;
                        font-weight: 500;
                        border: 1px solid $primary-color;
                        color: #fff;
                        background: $primary-color;
                        text-align: center;
                        border-radius: 5px;
                        transition: opacity 0.75s;
                        @include mediaquery(null, 767px){
                            width: 100%;
                            height: 56px;  
                            line-height: 56px;
                        }
                        &:hover{
                            @include mediaquery(768px, null){
                                opacity: 0.7;
                            }
                        }
                        img{
                            display: inline-block;
                            margin-left: 5px;
                        }
                        &.whiteBtn{
                            background: #fff;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}
.courseDetail{
    .headerTitle, .item{
        display: flex;
        align-items: center;
        li{
            &:nth-child(1){
                flex: 0 0 311px;
                @include mediaquery(768px, 1200px){
                    flex: 0 0 200px;
                }
                @include mediaquery(null, 767px){
                    flex: 0 0 auto;
                }
            }
            &:nth-child(2){
                flex: 0 0 334px;
                @include mediaquery(768px, 1200px){
                    flex: 0 0 200px;
                }
                @include mediaquery(null, 767px){
                    flex: 0 0 auto;
                }
            }
            &:nth-child(3){
                flex: 1;
            }
        }
    }
    .headerTitle{
        font-size: 14px;
        line-height: 1.43;
        color: #777;
        padding-bottom: 8px;
        border-bottom: 1px solid #D9D9D9;
        @include mediaquery(null, 767px){
            display: none;
        }
    }
    .item{
        font-size: 18px;
        padding: 30px 0;
        margin-bottom: 50px;
        @include mediaquery(null, 767px){
            flex-direction: column;
            align-items: baseline;
            font-size: 16px;
            padding: 0;
            margin-bottom: 20px;
        }
        li{
            @include mediaquery(null, 767px){
                display: flex;
                align-items: baseline;
                margin-bottom: 12px;
                width: 100%;
                height: 24px;
                line-height: 24px;
            }
            &:nth-child(2){
                font-weight: 500;
                color: $primary-color;
            }
            .m_title{
                @include mediaquery(null, 767px){
                    font-size: 14px;
                    color: #777;
                    flex: 0 0 78px;
                }
            }
        }
    }
    .detailContain{
        position: relative;
        display: flex;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 71, 157, 0.25);
        margin-bottom: 120px;
        @include mediaquery(null, 767px){
            border-radius: 5px;
            flex-direction: column;
            margin-bottom: 49px;
        }
        .img{
            position: relative;
            flex: 0 0 384px;
            @include mediaquery(991px, 1200px){
                flex: 0 0 350px;
            }
            @include mediaquery(768px, 991px){
                flex: 0 0 300px;
            }
            @include mediaquery(null, 767px){
                flex: 0 0 auto;
            }
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                @include mediaquery(null, 767px){
                    aspect-ratio: 1 / 0.6512;
                }
            }
            span{
                position: absolute;
                top: 0; 
                left: 0;
                font-size: 16px;
                font-weight: 500;
                display: inline-block;
                padding: 8px 16px;
                border-radius: 5px;
                background-color: #F42F52;
                color: #fff;
                @include mediaquery(null, 767px){
                    padding: 5px 12px 6px;
                }
            }
        }
        .box{
            padding: 36px 50px 32px;
            flex: 1;
            display: flex;
            flex-direction: column;
            @include mediaquery(768px, 1200px){
                padding: 20px 35px;
            }
            @include mediaquery(null, 767px){
                padding: 17px 20px 25px;
            }
            .topTxtBox{
                flex: 1;
            }
            .course_date{
                margin-bottom: 8px;
                @include mediaquery(null, 767px){
                    margin-bottom: 3px;
                }
            }
            .course_title{
                font-size: 32px;
                @include mediaquery(768px, 991px){
                    font-size: 28px;
                    margin-bottom: 10px;
                }
                @include mediaquery(null, 767px){
                    font-size: 24px;
                    margin-bottom: 4px;
                }
            }
            .course_location{
                padding-right: 135px;
                @include mediaquery(null, 991px){
                    padding-right: 0;
                    margin-bottom: 20px;
                }
                @include mediaquery(null, 767px){
                    margin-bottom: 35px;
                }
            }
        }
        .ss_btn{
            position: absolute;
            bottom: 25px;
            right: 30px;
            @include mediaquery(992px, 1200px){
                right: 20px;
            }
            @include mediaquery(null, 991px){
                position: relative;
                bottom: auto;
                right: auto;
                margin: 0 auto;
            }
            a{
                display: block;
                width: 125px;
                height: 48px;
                line-height: 48px;
                background-color: $primary-color;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                color: #fff;
                border-radius: 5px;
                @include mediaquery(null, 767px){
                    width: 156px;
                    height: 56px;
                    line-height: 56px;
                    font-size: 16px;
                }
            }
        }
    }
    .memberList {
        padding-bottom: 35px;
        margin-bottom: 60px;
        .topList{
            margin-bottom: 29px;
            > div{
                align-items: center;
            }
        }
        .memberInfo li{
            margin-bottom: 16px;
        }
    }
}
.orderDetail{
    .headerTitle, .items{
        li{
            display: flex;
            align-items: center;
            padding-right: 20px;
            &:nth-child(1){
                flex: 0 0 18.6%;
                @include mediaquery(null, 991px){
                    flex: 0 0 auto;
                    width: 100%;
                }
            }
            &:nth-child(2){
                flex: 0 0 21.1%;
                @include mediaquery(null, 991px){
                    flex: 0 0 auto;
                    width: 100%;
                }
            }
            &:nth-child(3){
                flex: 0 0 18.3%;
                @include mediaquery(null, 991px){
                    flex: 0 0 auto;
                    width: 100%;
                }
            }
            &:nth-child(4){
                flex: 0 0 16.3%;
                @include mediaquery(null, 991px){
                    flex: 0 0 auto;
                    width: 100%;
                }
            }
            &:nth-child(5){
                flex: 0 0 14.5%;
                @include mediaquery(null, 991px){
                    flex: 0 0 auto;
                    width: 100%;
                }
            }
            &:nth-child(6){
                flex: 0 0 11.2%;
                @include mediaquery(null, 991px){
                    flex: 0 0 auto;
                    width: 100%;
                }
            }
        }
    }
    .headerTitle{
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.43;
        color: #777;
        padding-bottom: 8px;
        border-bottom: 1px solid #D9D9D9;
        @include mediaquery(null, 991px){
            display: none;
        }
    }
    .items{
        font-size: 18px;
        display: flex;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 78px;
        @include mediaquery(null, 991px){
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 52px;
        }
        @include mediaquery(null, 767px){
            font-size: 16px;
            padding: 7px 0;
        }
        li{
            padding-right: 20px;
            @include mediaquery(null, 991px){
                padding-right: 0px;
                margin-bottom: 15px;
            }
        }
        .m_title{
            display: none;
            @include mediaquery(null, 991px){
                display: block;
                font-size: 16px;
                line-height: 20px;
                color: #777;
                flex: 0 0 90px;
            }
            @include mediaquery(null, 767px){
                font-size: 14px;
                flex: 0 0 78px;
            }
        }
        .m_info{
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            @include mediaquery(null, 991px){
                line-height: 20px;
                flex-direction: row;
                align-items: center;
            }
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
            &.blueTxt{
                color: $primary-color;
                font-weight: 500;
            }
            a{
                display: block;
                font-size: 14px;
                color: #F42F52;
                margin-top: 3px;
                @include mediaquery(null, 991px){
                    margin: 0 0 0 20px;
                }
                span{
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #F42F52;
                    }
                }
                img{
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
    .orderItems{
        border-bottom: 1px solid #D9D9D9;
        margin-bottom: 30px;
        @include mediaquery(null, 767px){
            margin-bottom: 12px;
        }
        >li{
            position: relative;
            margin-bottom: 82px;
            @include mediaquery(null, 767px){
                margin-bottom: 65px;
            }
            &:last-child{
                margin-bottom: 48px;
                @include mediaquery(null, 767px){
                    margin-bottom: 28px;
                }
            }
            .num{
                position: absolute;
                top: -12px;
                left: -80px;
                font-size: 100px;
                line-height: 1;
                font-weight: 500;
                color: #DFF2FC;
                @include mediaquery(992px, 1440px){
                    left: -50px;
                    font-size: 74px;
                }
                @include mediaquery(null, 991px){
                    top: -38px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 61px;
                }
                @include mediaquery(null, 767px){
                    font-size: 48px;
                }
            }
            .titleHeader, .containTop{
                >li{
                    &:nth-child(1){
                        flex: 1;
                    }
                    &:nth-child(2){
                        flex: 0 0 11.1%;
                    }
                }
            }
            .titleHeader{
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 1.43;
                color: #777;
                padding-bottom: 8px;
                border-bottom: 1px solid #D9D9D9;
                @include mediaquery(null, 991px){
                    display: none;
                }
            }
            .containTop{
                display: flex;
                align-items: center;
                padding: 24px 0;
                @include mediaquery(null, 767px){
                    padding: 20px 0;
                }
                li{
                    display: flex;
                    &:nth-child(2){
                        font-size: 18px;
                        @include mediaquery(null, 991px){
                            display: none;
                        }
                    }
                    .img{
                        flex: 0 0 250px;
                        width: 250px;
                        margin-right: 40px;
                        @include mediaquery(null, 767px){
                            flex: 0 0 161px;
                            width: 161px;
                            margin-right: 12px;
                        }
                        img{
                            display: block;
                        }
                    }
                    .box{
                        display: flex;
                        flex-direction: column;
                        padding: 20px 0;
                        @include mediaquery(null, 767px){
                            padding: 0;
                        }
                        .course_date{
                            white-space: nowrap;
                            @include mediaquery(null, 767px){
                                margin-bottom: 0;
                            }
                        }
                        .course_location{
                            margin-top: auto;
                            @include mediaquery(null, 991px){
                                margin: -3px 0 13px;
                            }
                        }
                        .price{
                            @include mediaquery(null, 991px){
                                display: flex;
                                align-items: baseline;
                                .m_title{
                                    font-size: 14px;
                                    color: #777;
                                    flex: 0 0 49px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .memberList{
            padding-top: 40px;
            padding-bottom: 35px;
            margin-bottom: 24px;
            @include mediaquery(null, 767px){
                padding-top: 21px;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .sort{
                position: absolute;
                top: 28px;
                right: 30px;
                font-size: 18px;
                font-weight: 500;
                color: $primary-color;
                padding-left: 32px;
                @include mediaquery(null, 767px){
                    font-size: 16px;
                    top: 22px;
                    right: 20px;
                    padding-left: 24px;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: $primary-color;
                    @include mediaquery(null, 767px){
                        width: 20px;
                        height: 20px;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 4px;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 9px;
                    background: url('../images/common/checked.png') center / contain no-repeat;
                    @include mediaquery(null, 767px){
                        width: 10px;
                        left: 5px;
                    }
                }
                &.delSort{
                    color: #777;
                    &::before{
                        background-color: #777;
                    }
                    &::after{
                        left: 7px;
                        width: 10px;
                        height: 10px;
                        background: url('../images/common/detel.png') center / contain no-repeat;
                        @include mediaquery(null, 767px){
                            left: 5px;
                        }
                    }
                }
            }
            .memberTop{
                font-size: 20px;
                font-weight: 500;
                color: $primary-color;
                margin-bottom: 20px;
                @include mediaquery(null, 767px){
                    font-size: 17px;
                    margin-bottom: 15px;
                }
            }
            .topList{
                padding-bottom: 18px;
                margin-bottom: 30px;
                @include mediaquery(null, 767px){
                    padding-bottom: 0;
                    margin-bottom: 15px;
                }
            }
            .memberInfo li{
                margin-bottom: 16px;
                @include mediaquery(null, 767px){
                    margin-bottom: 7px;
                }
            }
            .memberInfo, .btnBox{
                @include mediaquery(null, 767px){
                    padding: 0 10px;
                }
            }
        }
        .refund{
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 71, 157, 0.25);
            overflow: hidden; 
            @include mediaquery(null, 767px){
                border-radius: 7px;
            }
            .refundInfo{
                display: flex;
                align-items: center;
                padding: 36px 70px 34px;
                background-color: #FFF6FA;
                @include mediaquery(768px, 1400px){
                    padding: 30px 50px;
                }
                @include mediaquery(null, 767px){
                    padding: 14px 20px;
                }
                .img{
                    margin-right: 40px;
                    @include mediaquery(null, 991px){
                        display: none;
                    }
                }
                .txt{
                    .name{
                        font-size: 24px;
                        font-weight: 500;
                        color: #F42F52;
                        margin-bottom: 10px;
                        @include mediaquery(null, 767px){
                            font-size: 19px;
                            margin-bottom: 3px;
                        }
                    }
                    .m_title{
                        font-size: 14px;
                        color: #777;
                        margin-bottom: 6px;
                    }
                    .m_info{
                        font-size: 18px;
                        text-align: justify;
                        line-height: 1.44;
                        @include mediaquery(null, 767px){
                            font-size: 16px;
                        }
                    }
                }
            }
            .refundMember{
                display: flex;
                padding: 30px 0;
                @include mediaquery(null, 991px){
                    flex-direction: column;
                }
                @include mediaquery(null, 767px){
                    padding: 20px 0 12px;
                }
                ul{
                    flex: 0 0 50%;
                    width: 50%;
                    padding: 0 70px;
                    @include mediaquery(768px, 1400px){
                        padding: 0 50px;
                    }
                    @include mediaquery(null, 991px){
                        flex: 0 0 auto;
                        width: 100%;
                    }
                    @include mediaquery(null, 767px){
                        padding: 0 20px;
                    }
                    + ul{
                        @include mediaquery(992px, null){
                            border-left: 2px solid #FBE6EF;
                        }
                    }
                    li{
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 16px;
                        font-size: 18px;
                        @include mediaquery(null, 767px){
                            font-size: 16px;
                            flex-direction: column;
                            margin-bottom: 6px;
                        }
                        .m_title{
                            flex: 0 0 95px;
                            width: 95px;
                            color: #777;
                            @include mediaquery(null, 767px){
                                flex: 0 0 auto;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .totleMoney{
        margin-bottom: 80px;
        width: 251px;
        margin-left: auto;
        @include mediaquery(null, 767px){
            justify-content: space-between;
            margin-bottom: 46px;
            width: 100%;
        }
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            @include mediaquery(null, 767px){
                margin-bottom: 7px;
            }
        }
        .m_title{
            font-size: 18px;
            margin-right: 50px;
            white-space: nowrap;
            @include mediaquery(null, 767px){
                font-size: 16px;
                margin: 0;
            }
        }
        .m_info{
            font-size: 32px;
            font-weight: 500;
            color: $primary-color;
            @include mediaquery(null, 767px){
                font-size: 26px;
            }
        }
        .s_info{
            font-size: 18px;
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
    }
    .receiptBox{
        border-radius: 15px;
        margin-bottom: 60px;
        padding: 40px 0;
        box-shadow: 0 0 10px rgba(0, 71, 157, 0.25);
        @include mediaquery(null, 767px){
            border-radius: 7px;
            padding: 28px 30px;
            margin-bottom: 38px;
        }
        .receiptTop{
            display: flex;
            margin-bottom: 20px;
            @include mediaquery(null, 767px){
                flex-direction: column;
                margin-bottom: 15px;
            }
            ul{
                flex: 0 0 50%;
                padding: 0 70px;
                @include mediaquery(768px, 1200px){
                    padding: 0 30px;
                }
                @include mediaquery(null, 767px){
                    flex: 0 0 auto;
                    width: 100%;
                    padding: 0;
                }
                + ul{
                    @include mediaquery(768px, null){
                        border-left: 2px solid #DFF2FC;
                    }
                }
                li{
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 16px;
                    font-size: 18px;
                    @include mediaquery(768px, 991px){
                        font-size: 17px;
                    }
                    @include mediaquery(null, 767px){
                        font-size: 16px;
                        flex-direction: column;
                        margin-bottom: 14px;
                    }
                    &:last-child{
                        margin-bottom: 0;
                        @include mediaquery(null, 767px){
                            margin-bottom: 14px;
                        }
                    }
                }
                .m_title{
                    flex: 0 0 115px;
                    width: 115px;
                    color: #777;
                    @include mediaquery(768px, 1200px){
                        flex: 0 0 95px;
                        width: 95px;
                    }
                    @include mediaquery(null, 767px){
                        flex: 0 0 auto;
                        width: 100%;
                        line-height: 1;
                    }
                }
                img{
                    vertical-align: top;
                    @include mediaquery(null, 767px){
                        margin-top: 10px;
                    }
                }
            }
        }
        .allBtn a{
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                display: inline-block;
                margin-left: 6px;
                @include mediaquery(null, 767px){
                    width: 17px;
                }
            }
        }
    }
}